/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

a {
    text-decoration: none;
}

.menu li {
    list-style: none;
}

p {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Button */
.button {
    font-size: 12px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 8px;
    padding: 10px 24px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Header */
.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    background-image: linear-gradient(120deg, #4abea0, teal);
    color: #fff;
}

header h1 {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

/* Main */
main {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
    color: black;
}

/* Blockquote */
main blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: teal;
    color: #fff;
    z-index: 15;
}

.nav-links a {
    color: #fff;
}

.active {
    background-color: #4c9e9e;
    border: 1px black;
    border-radius: 5px;
}

/* LOGO */
.logo-text {
    font-size: 32px;
    white-space: nowrap;
    color: white;
    text-align: center;
}

.logo-text h6 {
    color: white;
}

.logo-img {
    height: 150px;
    width: 150px;
    margin: 15px 3px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* Menu vår praksis */
.menu-vår {
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-vår li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu-vår li {
    padding: 5px 14px;
    list-style: none;
}

@media (max-width: 450px) {
    .menu {
        margin-top: 0 !important;
    }

    .navbar{
        display: flex;
        flex-direction: row;
    }

    header h1 {
        font-size: 26px;
    }

    .page-header {
        height: 225px;
    }
    .logo-img {
        height: 75px !important;
        width: 75px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}

/* DROPDOWN MENU */
.status {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 20px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.status:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 890px) {
    html {
        scroll-padding-top: 15rem;
    }

    main {
        padding: 1rem 3rem;
    }

    .menu {
        display:none;
        position: absolute;
        background-color:teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 25px;
    }

    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
        padding-top: 10px;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        position: relative;
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }

    .profiles {
        flex-direction: column !important;
    }

    header h1 {
        font-size: 24px;
    }

    .page-header {
        height: 175px !important;
    }
    .logo-img {
        height: 100px;
        width: 100px;
        margin: 10px 3px;

    }
}

/* Profile */
.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    display: block;
    margin-bottom: 1rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.profile p {
    max-width: 300px;
}

section .border {
    border: 3px solid black;
}

/* Profile links */
.profile-links ul{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10%;
    padding-left: 0;
    z-index: 10;
}

.profile-links ul li{
    list-style: none;
    margin: 0.5rem 0.5rem;
    display: inline-block;
}

.profile-links ul li .fab{
    font-size: 2em;
    line-height: 60px;
    transition: 0.3s;
    color: #000;
}

.profile-links ul li .fab:hover{
    color: #fff;
}

.profile-links ul li a{
    left: 100%;
    display: block;
    width: 4rem;
    border-radius: 50%;
    background-color:papayawhip;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.profile-links ul li a:hover{
    transform: translate(0, -10%);
}

.profile-links ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.profile-links ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}

/* Status */

#status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-list{
    margin-left: 20px;
}

.status-text{
    max-width: 600px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: teal;
    height: 175px;
    color: white;
}

footer p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-img {
    height: 50px;
    width: 50px;
}

.back-to-top-link {
    position: fixed;
    bottom: 3.5rem;
    right: 3rem;
    z-index: 15;
    display: none;
}